@font-face {
  font-family: 'Editorial';
  src: url('assets/fonts/PPEditorialNew-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Editorial';
  src: url('assets/fonts/PPEditorialNew-Ultrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Editorial';
  src: url('assets/fonts/PPEditorialNew-Ultralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('assets/fonts/FaktumTestBold-700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('assets/fonts/FaktumTestRegular-400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
