.section-profile {
  width: 100vw;
  overflow: hidden;

  .profile {
    width: 100%;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    padding: clamp(60px, 10vw, 180px) clamp(18px, 3vw, 36px);
  }

  @include responsive(XL) {
    .wrap {
      padding: 180px 36px;
    }
  }
}
