$sm-columns: 4;
$sm-gutter: 20px;
$sm-margin: 14px;

$md-columns: 8;
$md-gutter: 20px;
$md-margin: 30px;

$lg-columns: 12;
$lg-gutter: 24px;
$lg-margin: 60px;
$lg-max-container-size: 1440px + ($lg-margin * 2);
